<div class="wrap">
  <h1>Просмотр чек листа</h1>
  <%=render 'check_lists/check-list' %>
<!--  <table class="basic-table">-->
<!--    <tr>-->
<!--      <td> Вложения: </td>-->
<!--      <td> <%#= @check_list.spending %> </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td> Состояние: </td>-->
<!--      <td> <%#= @check_list.condicion %> </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td> Обслуживание: </td>-->
<!--      <td> <%#= @check_list.service %> </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td> Красилась ли: </td>-->
<!--      <td> <%#= @check_list.painted %> </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td> Кузовной ремонт: </td>-->
<!--      <td> <%#= @check_list.body_repair %> </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td> Стоимость </td>-->
<!--      <td> <%#= @check_list.price %> </td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--      <td> Примечания: </td>-->
<!--      <td> <%#= @check_list.notes %> </td>-->
<!--    </tr>-->
<!--  </table>-->
</div>